body {
    background: rgba(0,0,0,0.8);
}

.quiz-content {
    margin-top: 40%;
    background: white;
    padding: 40px 50px;
    min-height: 400px;
}


small.error.hidden {
visibility: hidden;

}

#back-btn {
    margin-right: 10px;
}