body {
    background: #2f2f2f;
}

.quiz-content {
    margin-top: 25px;
    background: #1b1b1b;
    padding: 40px 50px;
    min-height: 400px;
}


small.error.hidden {
visibility: hidden;

}

#back-btn {
    margin-right: 10px;
}

.data-check {
    visibility: hidden;
}
.data-check.error {
    visibility: visible;
}


.greeting {
    display: none;

}
.greeting h2 {
    font-size: 16px;
    font-weight: 100;
    font-family: 'Book Antiqua','Palatino','Palatino Linotype','Palatino LT STD','Georgia',serif;
    color: #a8a8a8;
}

.login-button {
    font-family: 'Book Antiqua','Palatino','Palatino Linotype','Palatino LT STD','Georgia',serif;
    font-style: italic;
    color: #a8a8a8;
}

.content {
    padding: 120px 0;
}

#question h4 {
    font-family: 'Raleway';
    color: rgba(255,255,255,0.8);
    margin-bottom: 20px;
}

#answers label {
    /*font-family: 'Raleway';*/
    color: rgba(255,255,255,0.5);
}

.box.button {
    color: rgba(255,255,255,0.2);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid rgba(255,255,255,0.2);
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
}
.box.button:hover {
    background: rgba(255,255,255,0.2);

}
.box.button.disabled {
    border: 3px solid rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.1);

    background: transparent;

}
.box.button.disabled:hover {
    background: transparent;
    color: rgba(255,255,255,0.1);

}
/*font-family: 'proxima-nova','Proxima Nova','Helvetica Neue','Helvetica','Arial',sans-serif;*/

/*width: 120px;*/
/*height: 25px;*/
/*line-height: 25px;*/
/*margin: 30px auto 0 auto;*/